@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");

* {
  box-sizing: border-box;
  // border: 1px dashed lightgrey;
}

body {
  margin: 0;
  //   font-family: "AvenirNext LT Pro";
  font-family: "Sansita Swashed", cursive;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}
