.service {
  padding-bottom: 0.5rem;

  @include tablet {
    padding-bottom: 2.5rem;
  }

  &__subtitle {
    font-size: 16px;
  }

  &__container {
    padding: 1.5rem 1rem 0;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__box {
    @extend %card;
    padding: 1rem;
    margin-bottom: 2rem;
    background: $background-color;
    // color: $primary-text-color;
    // text-shadow: 1px 1px rgba(0, 0, 0, 0.4);

    // &:nth-child(1) {
    //   background: linear-gradient(
    //       rgba(255, 255, 255, 0.6),
    //       rgba(255, 255, 255, 0.6)
    //     ),
    //     url(../assets/images/wedding.jpg) center/cover;
    // }

    // &:nth-child(2) {
    //   background: linear-gradient(
    //       rgba(136, 136, 136, 0.4),
    //       rgba(136, 136, 136, 0.4)
    //     ),
    //     url(../assets/images/studio.jpg) center/cover;
    // }

    // &:nth-child(3) {
    //   background: linear-gradient(
    //       rgba(136, 136, 136, 0.6),
    //       rgba(136, 136, 136, 0.6)
    //     ),
    //     url(../assets/images/occasion.jpg) center/cover;
    // }

    @include tablet {
      width: 31%;
      margin-bottom: 0;
    }
  }

  &__text {
    padding: 0.5rem;

    @include tablet {
      height: 15rem;
    }
  }

  &__detail {
    padding-bottom: 0.5rem;
  }

  &__btn-box {
    display: flex;
    justify-content: center;
  }

  &__btn {
    @extend %btn;
    margin-top: 0.5rem;
  }
}
